:root {
  /* colors */
  --dark-color: #1a1a1a;
  --light-gray: #c6bfac;
  --dark-gray: #847f74;
  --white: #fff0e3;
  --white-hover: white;
  --yellow-color: #ffd731;

  /* fonts */
  --text-color-white: orange;
  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  background-color: var(--dark-color);
  font-family: var(--font-family);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

.main-container {
  width: 80vw;
  margin: 0 auto;
}

/* Navbar */

nav {
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.nav-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 100%;
}

.nav-logo img {
  height: 100%;
}

.nav-items-list {
  display: flex;
}

.nav-item {
  color: var(--light-gray);
  padding: 0 20px;
  /* transition: color 0.5s ease; */
}

.nav-item:hover {
  color: var(--white);
}

.nav-item-selected > span {
  color: var(--white);
  border-bottom: 2px solid var(--white);
  padding-bottom: 4px;
}

.nav-name-container {
  height: 100%;
  border-left: 1px solid var(--white);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav-name {
  color: var(--light-gray);
  margin-right: 7px;
}

.signed-in {
  display: none;
}

.sign-in {
  color: var(--light-gray);
  /* transition: color 0.5s ease; */
}

.sign-in:hover {
  color: var(--white);
}

/* Form */

input {
  display: block;
  height: 30px;
  padding: 5px;
  background-color: var(--dark-color);
  color: var(--white);
  border: 1px solid var(--white);
  outline: none;
}
