.divider {
  height: 50px;
}

section {
  margin-bottom: 40px;
  width: 100%;
}

.year-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.line {
  height: 1px;
  margin-left: 20px;
  flex-grow: 1;
  background-color: var(--white);
}

.subject-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

@media only screen and (max-width: 1200px) {
  .subject-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1100px) {
  .subject-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.box {
}

.box img {
  width: 100%;
  max-height: 200px;
}

.box .title {
  font-size: 16px;
  margin: 5px 0;
}

.box .details {
  font-size: 15px;
}

.box .time {
  color: var(--yellow-color);
}

.box .number {
  margin-left: 10px;
}
