body {
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--dark-color);
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  transform: translateX(0);
  transition: transform 1s ease;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form1 {
}

.form2 {
}

.form3 {
}

label {
  display: block;
  width: 70%;
  font-size: 14px;
}

/* Input style in global css */

input {
  width: 70%;
  margin: 5px 0 15px 0;
}

/* FORM 1 /////////////*/

.title {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

button {
  outline: none;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 5px;
  color: var(--dark-color);

  padding: 7px 0;
  width: 70%;
  font-size: 20px;

  margin: 20px 0;
}

button:hover {
  cursor: pointer;
}
