body {
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--dark-color);
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 300%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  transform: translateX(0);
  transition: transform 1s ease;
}

form {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form1 {
}

.form2 {
}

.form3 {
}

label {
  display: block;
  width: 70%;
  font-size: 14px;
}

/* Input style in global css */

input {
  width: 70%;
  margin: 5px 0 15px 0;
}

/* FORM 1 */

.title {
  font-size: 25px;
  margin-bottom: 30px;
}

.button-box {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  outline: none;
  background-color: transparent;
  border: 1px solid var(--yellow-color);
  color: var(--yellow-color);

  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}

.left-arrow {
  margin-left: 7px;
}

.right-arrow {
  margin-right: 7px;
}

/* FORM 2 */

.name-box {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.name-box .left,
.name-box .right {
  width: 47%;
}

.form2 .name-box label {
  width: 100%;
}

.form2 .name-box input {
  width: 100%;
}

.drop-down {
  width: 70%;
  height: 60px;
  z-index: 1;
  margin-bottom: 10px;
  overflow: hidden;
}

.item {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  cursor: pointer;

  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

.item img {
  height: 60%;
  margin-right: 10px;
}

.fon {
}

.ekof {
}

/* FORM 3 */

.form3 .title {
  width: 70%;
  text-align: center;
}

.form3 p {
  width: 70%;
  text-align: center;
  font-size: 14px;
  color: var(--light-gray);
}

.form3 button {
  display: block;
  outline: none;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 5px;
  color: var(--dark-color);

  padding: 7px 0;
  width: 70%;
  font-size: 20px;

  margin: 20px 0;
}
