.icon-section {
  margin-top: 50px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-box {
  border: 1px solid var(--white);
  transition: color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-box:hover {
  cursor: pointer;
  color: var(--white-hover);
}

.icon-box:nth-child(2) {
  border-left: 0;
  border-right: 0;
}

.icon-box i {
  font-size: 60px;
  margin-bottom: 10px;
}

.icon-section .selected {
  color: var(--yellow-color);
}

.questions {
  /* margin-top: 40px; */
}

.question {
  height: 55px;
  padding: 0 25px;
  font-size: 20px;
  border-bottom: 2px solid var(--white);
  cursor: pointer;
  transition: color 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.question-hover:hover {
  color: var(--white-hover);
}

.question::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.question div {
  font-size: 40px;
}

.answer {
  background-color: var(--yellow-color);
  color: black;
  font-size: 14px;

  padding: 30px 25px;
  display: none;
}

.answer-open {
  display: block;
}

.question-open {
  color: var(--yellow-color);
}
